{{ define "main" }}
{{- partial "content/breadcrumb.html" . -}}

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-14">

  <article class="md:col-span-2 prose lg:prose-lg">

    <header class="not-prose">

      <h1 id="title" class="text-4xl font-bold leading-normal">We're sorry, that page wasn't found!</h1>

      <div id="lead" class="my-6">

        <p class="font-bold">Our team of qualified engineers are currently playing board games, but we'll be happy to help you locate the page if you create a github issue or let us know about it during board game night. </p>

      </div>

      <div id="writer" class="flex items-center space-x-4">

    </header>


    <div id="content" class="mb-14">

    </div>

  </article>

  <!-- Aside -->
  <aside class="md:col-span-1">

    {{- partial "content/aside.html" . -}}

  </aside>

</div>

{{ end }}
